<html lang="zh-CN">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>表白墙</title>
    <link rel="stylesheet" href="../../static/bootstrap-3.3.7/css/bootstrap.css">
    <script src="../../static/js/jquery-1.12.4.min.js"></script>
    <script src="../../static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<!--导航条-->
<!--<div th:replace="commons/demo :: topBar"></div>-->




<!-- -页面的第三个部分，使用删格体系将页面分为２，８，２三个部分 -->
<div class="container-fluid bg-color">
    <div class="row">
        <div class="col-lg-2 hidden-md hidden-sm hidden-xs">
        </div>

        <div class="col-lg-8">
            <nav class="navbar navbar-default navbar-static-top nav02 hidden-xs">
                <div class="container-fluid">
                    <h1>表白墙
                        <small>爱就要大声说出来</small>
                        <a class="btn btn-default" role="button" style="float: right"
                           href="confessRelease.html"
                           th:href="@{/confessRelease} + ${loveUserId}">我要发帖</a>
                    </h1>
                </div>
            </nav>

            <div class="panel panel-default" th:each="love:${loves}">
                <div class="panel-heading" style="background: darkgray">
                    <h1 class="panel-title" th:text="${love.loveUser}">hhh</h1>
                    <h6 th:text="${#dates.format(love.loveTime, 'MM-dd HH:mm')}">2019</h6>
                </div>
                <div class="panel-body">
                    <p th:text="${love.loveIntro}">hhh</p>
                    <div class="like" style="float: right">
                        <form th:action="@{/giveLove/} + ${love.loveId}" method="get">
                            <button type="submit" class="btn btn-default" th:text="${love.loveSign}">111</button>
                        </form>
                    </div>
                </div>
            </div>

            <!--<div class="panel panel-default">
                <div class="panel-heading" style="background: darkgray">
                    <h3 class="panel-title">一条鱼</h3>
                </div>
                <div class="panel-body">
                    什么鬼<br>
                    哈哈哈哈哈哈<br>
                    <div class="like" style="float: right">
                        <button type="button" class="btn btn-default">点赞</button>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" style="background: darkgray">
                    <h3 class="panel-title">一条鱼</h3>
                </div>
                <div class="panel-body">
                    什么鬼<br>
                    哈哈哈哈哈哈<br>
                    <div class="like" style="float: right">
                        <button type="button" class="btn btn-default" th:action="">点赞</button>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" style="background: darkgray">
                    <h3 class="panel-title">一条鱼</h3>
                </div>
                <div class="panel-body">
                    什么鬼<br>
                    哈哈哈哈哈哈<br>
                    <div class="like" style="float: right">
                        <button type="button" class="btn btn-default">点赞</button>
                    </div>
                </div>
            </div>-->

            <div style="text-align: center">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $('.carousel').carousel({
        interval:1000
    });
</script>

</body>
</html>
