<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.arcadia.mapper.CollectionMapper">
  <resultMap id="BaseResultMap" type="com.aurora.arcadia.model.Collection">
    <id column="col_id" jdbcType="INTEGER" property="colId" />
    <result column="col_sign" jdbcType="INTEGER" property="colSign" />
    <result column="col_user_id" jdbcType="INTEGER" property="colUserId" />
    <result column="col_record" jdbcType="INTEGER" property="colRecord" />
    <result column="col_sign_id" jdbcType="INTEGER" property="colSignId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    col_id, col_sign, col_user_id, col_record, col_sign_id
  </sql>
  <select id="selectByExample" parameterType="com.aurora.arcadia.model.CollectionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from collection
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from collection
    where col_id = #{colId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from collection
    where col_id = #{colId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.aurora.arcadia.model.CollectionExample">
    delete from collection
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aurora.arcadia.model.Collection">
    insert into collection (col_id, col_sign, col_user_id, 
      col_record, col_sign_id)
    values (#{colId,jdbcType=INTEGER}, #{colSign,jdbcType=INTEGER}, #{colUserId,jdbcType=INTEGER}, 
      #{colRecord,jdbcType=INTEGER}, #{colSignId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.aurora.arcadia.model.Collection">
    insert into collection
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="colId != null">
        col_id,
      </if>
      <if test="colSign != null">
        col_sign,
      </if>
      <if test="colUserId != null">
        col_user_id,
      </if>
      <if test="colRecord != null">
        col_record,
      </if>
      <if test="colSignId != null">
        col_sign_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="colId != null">
        #{colId,jdbcType=INTEGER},
      </if>
      <if test="colSign != null">
        #{colSign,jdbcType=INTEGER},
      </if>
      <if test="colUserId != null">
        #{colUserId,jdbcType=INTEGER},
      </if>
      <if test="colRecord != null">
        #{colRecord,jdbcType=INTEGER},
      </if>
      <if test="colSignId != null">
        #{colSignId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aurora.arcadia.model.CollectionExample" resultType="java.lang.Long">
    select count(*) from collection
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update collection
    <set>
      <if test="record.colId != null">
        col_id = #{record.colId,jdbcType=INTEGER},
      </if>
      <if test="record.colSign != null">
        col_sign = #{record.colSign,jdbcType=INTEGER},
      </if>
      <if test="record.colUserId != null">
        col_user_id = #{record.colUserId,jdbcType=INTEGER},
      </if>
      <if test="record.colRecord != null">
        col_record = #{record.colRecord,jdbcType=INTEGER},
      </if>
      <if test="record.colSignId != null">
        col_sign_id = #{record.colSignId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update collection
    set col_id = #{record.colId,jdbcType=INTEGER},
      col_sign = #{record.colSign,jdbcType=INTEGER},
      col_user_id = #{record.colUserId,jdbcType=INTEGER},
      col_record = #{record.colRecord,jdbcType=INTEGER},
      col_sign_id = #{record.colSignId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aurora.arcadia.model.Collection">
    update collection
    <set>
      <if test="colSign != null">
        col_sign = #{colSign,jdbcType=INTEGER},
      </if>
      <if test="colUserId != null">
        col_user_id = #{colUserId,jdbcType=INTEGER},
      </if>
      <if test="colRecord != null">
        col_record = #{colRecord,jdbcType=INTEGER},
      </if>
      <if test="colSignId != null">
        col_sign_id = #{colSignId,jdbcType=INTEGER},
      </if>
    </set>
    where col_id = #{colId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aurora.arcadia.model.Collection">
    update collection
    set col_sign = #{colSign,jdbcType=INTEGER},
      col_user_id = #{colUserId,jdbcType=INTEGER},
      col_record = #{colRecord,jdbcType=INTEGER},
      col_sign_id = #{colSignId,jdbcType=INTEGER}
    where col_id = #{colId,jdbcType=INTEGER}
  </update>
</mapper>