<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.arcadia.mapper.LoveMapper">

  <resultMap id="BaseResultMap" type="com.aurora.arcadia.model.Love">
    <id column="love_id" jdbcType="INTEGER" property="loveId" />
    <result column="love_user_id" jdbcType="INTEGER" property="loveUserId" />
    <result column="love_intro" jdbcType="VARCHAR" property="loveIntro" />
    <result column="love_sign" jdbcType="INTEGER" property="loveSign" />
    <result column="love_user_status" jdbcType="BIT" property="loveUserStatus" />
    <result column="love_time" jdbcType="TIMESTAMP" property="loveTime" />
  </resultMap>

  <sql id="Base_Column_List">
    love_id, love_user_id, love_intro, love_sign, love_user_status, love_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from love
    where love_id = #{loveId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from love
    where love_id = #{loveId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aurora.arcadia.model.Love">
    insert into love (love_id, love_user_id, love_intro, 
      love_sign, love_user_status, love_time
      )
    values (#{loveId,jdbcType=INTEGER}, #{loveUserId,jdbcType=INTEGER}, #{loveIntro,jdbcType=VARCHAR}, 
      #{loveSign,jdbcType=INTEGER}, #{loveUserStatus,jdbcType=BIT}, #{loveTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aurora.arcadia.model.Love">
    insert into love
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="loveId != null">
        love_id,
      </if>
      <if test="loveUserId != null">
        love_user_id,
      </if>
      <if test="loveIntro != null">
        love_intro,
      </if>
      <if test="loveSign != null">
        love_sign,
      </if>
      <if test="loveUserStatus != null">
        love_user_status,
      </if>
      <if test="loveTime != null">
        love_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="loveId != null">
        #{loveId,jdbcType=INTEGER},
      </if>
      <if test="loveUserId != null">
        #{loveUserId,jdbcType=INTEGER},
      </if>
      <if test="loveIntro != null">
        #{loveIntro,jdbcType=VARCHAR},
      </if>
      <if test="loveSign != null">
        #{loveSign,jdbcType=INTEGER},
      </if>
      <if test="loveUserStatus != null">
        #{loveUserStatus,jdbcType=BIT},
      </if>
      <if test="loveTime != null">
        #{loveTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aurora.arcadia.model.Love">
    update love
    <set>
      <if test="loveUserId != null">
        love_user_id = #{loveUserId,jdbcType=INTEGER},
      </if>
      <if test="loveIntro != null">
        love_intro = #{loveIntro,jdbcType=VARCHAR},
      </if>
      <if test="loveSign != null">
        love_sign = #{loveSign,jdbcType=INTEGER},
      </if>
      <if test="loveUserStatus != null">
        love_user_status = #{loveUserStatus,jdbcType=BIT},
      </if>
      <if test="loveTime != null">
        love_time = #{loveTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where love_id = #{loveId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aurora.arcadia.model.Love">
    update love
    set love_user_id = #{loveUserId,jdbcType=INTEGER},
      love_intro = #{loveIntro,jdbcType=VARCHAR},
      love_sign = #{loveSign,jdbcType=INTEGER},
      love_user_status = #{loveUserStatus,jdbcType=BIT},
      love_time = #{loveTime,jdbcType=TIMESTAMP}
    where love_id = #{loveId,jdbcType=INTEGER}
  </update>

  <insert id="saveLove" parameterType="com.aurora.arcadia.model.Love">
    insert into love(love_id, love_user_id, love_intro, love_sign, love_user_status, love_time)
    values (#{loveId}, #{loveUserId}, #{love_intro}, #{love_sign}, #{love_user_status}, #{love_time});
  </insert>

  <select id="getLoveById" parameterType="int" resultMap="BaseResultMap">
    select *
    from love
    where love_user_id = #{loveUserId};
    </select>

  <select id="getAllLoveUserId" resultType="int">
        select love_id
        from love
        order by love_id desc
  </select>

  <update id="setLoveSign" parameterType="com.aurora.arcadia.model.Love">
    update love
    set love_sign = #{loveSign}
    where love_id = #{loveId}
  </update>
</mapper>