<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.arcadia.mapper.ReplyMapper">
  <resultMap id="BaseResultMap" type="com.aurora.arcadia.model.Reply">
    <id column="reply_id" jdbcType="INTEGER" property="replyId" />
    <result column="reply_post_id" jdbcType="INTEGER" property="replyPostId" />
    <result column="reply_time" jdbcType="TIMESTAMP" property="replyTime" />
    <result column="reply_intro" jdbcType="VARCHAR" property="replyIntro" />
    <result column="reply_user_id" jdbcType="INTEGER" property="replyUserId" />
  </resultMap>
  <sql id="Base_Column_List">
    reply_id, reply_post_id, reply_time, reply_intro, reply_user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from reply
    where reply_id = #{replyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from reply
    where reply_id = #{replyId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aurora.arcadia.model.Reply">
    insert into reply (reply_id, reply_post_id, reply_time, 
      reply_intro, reply_user_id)
    values (#{replyId,jdbcType=INTEGER}, #{replyPostId,jdbcType=INTEGER}, #{replyTime,jdbcType=TIMESTAMP}, 
      #{replyIntro,jdbcType=VARCHAR}, #{replyUserId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.aurora.arcadia.model.Reply">
    insert into reply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="replyId != null">
        reply_id,
      </if>
      <if test="replyPostId != null">
        reply_post_id,
      </if>
      <if test="replyTime != null">
        reply_time,
      </if>
      <if test="replyIntro != null">
        reply_intro,
      </if>
      <if test="replyUserId != null">
        reply_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="replyId != null">
        #{replyId,jdbcType=INTEGER},
      </if>
      <if test="replyPostId != null">
        #{replyPostId,jdbcType=INTEGER},
      </if>
      <if test="replyTime != null">
        #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyIntro != null">
        #{replyIntro,jdbcType=VARCHAR},
      </if>
      <if test="replyUserId != null">
        #{replyUserId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aurora.arcadia.model.Reply">
    update reply
    <set>
      <if test="replyPostId != null">
        reply_post_id = #{replyPostId,jdbcType=INTEGER},
      </if>
      <if test="replyTime != null">
        reply_time = #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyIntro != null">
        reply_intro = #{replyIntro,jdbcType=VARCHAR},
      </if>
      <if test="replyUserId != null">
        reply_user_id = #{replyUserId,jdbcType=INTEGER},
      </if>
    </set>
    where reply_id = #{replyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aurora.arcadia.model.Reply">
    update reply
    set reply_post_id = #{replyPostId,jdbcType=INTEGER},
      reply_time = #{replyTime,jdbcType=TIMESTAMP},
      reply_intro = #{replyIntro,jdbcType=VARCHAR},
      reply_user_id = #{replyUserId,jdbcType=INTEGER}
    where reply_id = #{replyId,jdbcType=INTEGER}
  </update>
</mapper>