<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.arcadia.mapper.UserMessageMapper">
  <resultMap id="BaseResultMap" type="com.aurora.arcadia.model.UserMessage">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="u_name" jdbcType="VARCHAR" property="uName" />
    <result column="u_gender" jdbcType="VARCHAR" property="uGender" />
    <result column="u_birth" jdbcType="DATE" property="uBirth" />
    <result column="u_address" jdbcType="VARCHAR" property="uAddress" />
    <result column="u_career" jdbcType="VARCHAR" property="uCareer" />
    <result column="u_intro" jdbcType="VARCHAR" property="uIntro" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, u_name, u_gender, u_birth, u_address, u_career, u_intro
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_message
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_message
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aurora.arcadia.model.UserMessage">
    insert into user_message (user_id, u_name, u_gender, 
      u_birth, u_address, u_career, 
      u_intro)
    values (#{userId,jdbcType=INTEGER}, #{uName,jdbcType=VARCHAR}, #{uGender,jdbcType=VARCHAR}, 
      #{uBirth,jdbcType=DATE}, #{uAddress,jdbcType=VARCHAR}, #{uCareer,jdbcType=VARCHAR}, 
      #{uIntro,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aurora.arcadia.model.UserMessage">
    insert into user_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="uName != null">
        u_name,
      </if>
      <if test="uGender != null">
        u_gender,
      </if>
      <if test="uBirth != null">
        u_birth,
      </if>
      <if test="uAddress != null">
        u_address,
      </if>
      <if test="uCareer != null">
        u_career,
      </if>
      <if test="uIntro != null">
        u_intro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="uName != null">
        #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uGender != null">
        #{uGender,jdbcType=VARCHAR},
      </if>
      <if test="uBirth != null">
        #{uBirth,jdbcType=DATE},
      </if>
      <if test="uAddress != null">
        #{uAddress,jdbcType=VARCHAR},
      </if>
      <if test="uCareer != null">
        #{uCareer,jdbcType=VARCHAR},
      </if>
      <if test="uIntro != null">
        #{uIntro,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aurora.arcadia.model.UserMessage">
    update user_message
    <set>
      <if test="uName != null">
        u_name = #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uGender != null">
        u_gender = #{uGender,jdbcType=VARCHAR},
      </if>
      <if test="uBirth != null">
        u_birth = #{uBirth,jdbcType=DATE},
      </if>
      <if test="uAddress != null">
        u_address = #{uAddress,jdbcType=VARCHAR},
      </if>
      <if test="uCareer != null">
        u_career = #{uCareer,jdbcType=VARCHAR},
      </if>
      <if test="uIntro != null">
        u_intro = #{uIntro,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aurora.arcadia.model.UserMessage">
    update user_message
    set u_name = #{uName,jdbcType=VARCHAR},
      u_gender = #{uGender,jdbcType=VARCHAR},
      u_birth = #{uBirth,jdbcType=DATE},
      u_address = #{uAddress,jdbcType=VARCHAR},
      u_career = #{uCareer,jdbcType=VARCHAR},
      u_intro = #{uIntro,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.aurora.arcadia.model.UserMessage">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="u_name" jdbcType="VARCHAR" property="uName" />
    <result column="u_gender" jdbcType="VARCHAR" property="uGender" />
    <result column="u_birth" jdbcType="DATE" property="uBirth" />
    <result column="u_address" jdbcType="VARCHAR" property="uAddress" />
    <result column="u_career" jdbcType="VARCHAR" property="uCareer" />
    <result column="u_intro" jdbcType="VARCHAR" property="uIntro" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, u_name, u_gender, u_birth, u_address, u_career, u_intro
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_message
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_message
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aurora.arcadia.model.UserMessage">
    insert into user_message (user_id, u_name, u_gender, 
      u_birth, u_address, u_career, 
      u_intro)
    values (#{userId,jdbcType=INTEGER}, #{uName,jdbcType=VARCHAR}, #{uGender,jdbcType=VARCHAR}, 
      #{uBirth,jdbcType=DATE}, #{uAddress,jdbcType=VARCHAR}, #{uCareer,jdbcType=VARCHAR}, 
      #{uIntro,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aurora.arcadia.model.UserMessage">
    insert into user_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="uName != null">
        u_name,
      </if>
      <if test="uGender != null">
        u_gender,
      </if>
      <if test="uBirth != null">
        u_birth,
      </if>
      <if test="uAddress != null">
        u_address,
      </if>
      <if test="uCareer != null">
        u_career,
      </if>
      <if test="uIntro != null">
        u_intro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="uName != null">
        #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uGender != null">
        #{uGender,jdbcType=VARCHAR},
      </if>
      <if test="uBirth != null">
        #{uBirth,jdbcType=DATE},
      </if>
      <if test="uAddress != null">
        #{uAddress,jdbcType=VARCHAR},
      </if>
      <if test="uCareer != null">
        #{uCareer,jdbcType=VARCHAR},
      </if>
      <if test="uIntro != null">
        #{uIntro,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aurora.arcadia.model.UserMessage">
    update user_message
    <set>
      <if test="uName != null">
        u_name = #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uGender != null">
        u_gender = #{uGender,jdbcType=VARCHAR},
      </if>
      <if test="uBirth != null">
        u_birth = #{uBirth,jdbcType=DATE},
      </if>
      <if test="uAddress != null">
        u_address = #{uAddress,jdbcType=VARCHAR},
      </if>
      <if test="uCareer != null">
        u_career = #{uCareer,jdbcType=VARCHAR},
      </if>
      <if test="uIntro != null">
        u_intro = #{uIntro,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aurora.arcadia.model.UserMessage">
    update user_message
    set u_name = #{uName,jdbcType=VARCHAR},
      u_gender = #{uGender,jdbcType=VARCHAR},
      u_birth = #{uBirth,jdbcType=DATE},
      u_address = #{uAddress,jdbcType=VARCHAR},
      u_career = #{uCareer,jdbcType=VARCHAR},
      u_intro = #{uIntro,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.aurora.arcadia.model.UserMessage">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="u_name" jdbcType="VARCHAR" property="uName" />
    <result column="u_gender" jdbcType="VARCHAR" property="uGender" />
    <result column="u_birth" jdbcType="DATE" property="uBirth" />
    <result column="u_address" jdbcType="VARCHAR" property="uAddress" />
    <result column="u_career" jdbcType="VARCHAR" property="uCareer" />
    <result column="u_intro" jdbcType="VARCHAR" property="uIntro" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, u_name, u_gender, u_birth, u_address, u_career, u_intro
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_message
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_message
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aurora.arcadia.model.UserMessage">
    insert into user_message (user_id, u_name, u_gender, 
      u_birth, u_address, u_career, 
      u_intro)
    values (#{userId,jdbcType=INTEGER}, #{uName,jdbcType=VARCHAR}, #{uGender,jdbcType=VARCHAR}, 
      #{uBirth,jdbcType=DATE}, #{uAddress,jdbcType=VARCHAR}, #{uCareer,jdbcType=VARCHAR}, 
      #{uIntro,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aurora.arcadia.model.UserMessage">
    insert into user_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="uName != null">
        u_name,
      </if>
      <if test="uGender != null">
        u_gender,
      </if>
      <if test="uBirth != null">
        u_birth,
      </if>
      <if test="uAddress != null">
        u_address,
      </if>
      <if test="uCareer != null">
        u_career,
      </if>
      <if test="uIntro != null">
        u_intro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="uName != null">
        #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uGender != null">
        #{uGender,jdbcType=VARCHAR},
      </if>
      <if test="uBirth != null">
        #{uBirth,jdbcType=DATE},
      </if>
      <if test="uAddress != null">
        #{uAddress,jdbcType=VARCHAR},
      </if>
      <if test="uCareer != null">
        #{uCareer,jdbcType=VARCHAR},
      </if>
      <if test="uIntro != null">
        #{uIntro,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aurora.arcadia.model.UserMessage">
    update user_message
    <set>
      <if test="uName != null">
        u_name = #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uGender != null">
        u_gender = #{uGender,jdbcType=VARCHAR},
      </if>
      <if test="uBirth != null">
        u_birth = #{uBirth,jdbcType=DATE},
      </if>
      <if test="uAddress != null">
        u_address = #{uAddress,jdbcType=VARCHAR},
      </if>
      <if test="uCareer != null">
        u_career = #{uCareer,jdbcType=VARCHAR},
      </if>
      <if test="uIntro != null">
        u_intro = #{uIntro,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aurora.arcadia.model.UserMessage">
    update user_message
    set u_name = #{uName,jdbcType=VARCHAR},
      u_gender = #{uGender,jdbcType=VARCHAR},
      u_birth = #{uBirth,jdbcType=DATE},
      u_address = #{uAddress,jdbcType=VARCHAR},
      u_career = #{uCareer,jdbcType=VARCHAR},
      u_intro = #{uIntro,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.aurora.arcadia.model.UserMessage">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="u_name" jdbcType="VARCHAR" property="uName" />
    <result column="u_gender" jdbcType="VARCHAR" property="uGender" />
    <result column="u_birth" jdbcType="DATE" property="uBirth" />
    <result column="u_address" jdbcType="VARCHAR" property="uAddress" />
    <result column="u_career" jdbcType="VARCHAR" property="uCareer" />
    <result column="u_intro" jdbcType="VARCHAR" property="uIntro" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_id, u_name, u_gender, u_birth, u_address, u_career, u_intro
  </sql>
  <select id="selectByExample" parameterType="com.aurora.arcadia.model.UserMessageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_message
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_message
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.aurora.arcadia.model.UserMessageExample">
    delete from user_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.aurora.arcadia.model.UserMessage">
    insert into user_message (user_id, u_name, u_gender, 
      u_birth, u_address, u_career, 
      u_intro)
    values (#{userId,jdbcType=INTEGER}, #{uName,jdbcType=VARCHAR}, #{uGender,jdbcType=VARCHAR}, 
      #{uBirth,jdbcType=DATE}, #{uAddress,jdbcType=VARCHAR}, #{uCareer,jdbcType=VARCHAR}, 
      #{uIntro,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aurora.arcadia.model.UserMessage">
    insert into user_message
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="uName != null">
        u_name,
      </if>
      <if test="uGender != null">
        u_gender,
      </if>
      <if test="uBirth != null">
        u_birth,
      </if>
      <if test="uAddress != null">
        u_address,
      </if>
      <if test="uCareer != null">
        u_career,
      </if>
      <if test="uIntro != null">
        u_intro,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="uName != null">
        #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uGender != null">
        #{uGender,jdbcType=VARCHAR},
      </if>
      <if test="uBirth != null">
        #{uBirth,jdbcType=DATE},
      </if>
      <if test="uAddress != null">
        #{uAddress,jdbcType=VARCHAR},
      </if>
      <if test="uCareer != null">
        #{uCareer,jdbcType=VARCHAR},
      </if>
      <if test="uIntro != null">
        #{uIntro,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aurora.arcadia.model.UserMessageExample" resultType="java.lang.Long">
    select count(*) from user_message
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_message
    <set>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.uName != null">
        u_name = #{record.uName,jdbcType=VARCHAR},
      </if>
      <if test="record.uGender != null">
        u_gender = #{record.uGender,jdbcType=VARCHAR},
      </if>
      <if test="record.uBirth != null">
        u_birth = #{record.uBirth,jdbcType=DATE},
      </if>
      <if test="record.uAddress != null">
        u_address = #{record.uAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.uCareer != null">
        u_career = #{record.uCareer,jdbcType=VARCHAR},
      </if>
      <if test="record.uIntro != null">
        u_intro = #{record.uIntro,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_message
    set user_id = #{record.userId,jdbcType=INTEGER},
      u_name = #{record.uName,jdbcType=VARCHAR},
      u_gender = #{record.uGender,jdbcType=VARCHAR},
      u_birth = #{record.uBirth,jdbcType=DATE},
      u_address = #{record.uAddress,jdbcType=VARCHAR},
      u_career = #{record.uCareer,jdbcType=VARCHAR},
      u_intro = #{record.uIntro,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aurora.arcadia.model.UserMessage">
    update user_message
    <set>
      <if test="uName != null">
        u_name = #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uGender != null">
        u_gender = #{uGender,jdbcType=VARCHAR},
      </if>
      <if test="uBirth != null">
        u_birth = #{uBirth,jdbcType=DATE},
      </if>
      <if test="uAddress != null">
        u_address = #{uAddress,jdbcType=VARCHAR},
      </if>
      <if test="uCareer != null">
        u_career = #{uCareer,jdbcType=VARCHAR},
      </if>
      <if test="uIntro != null">
        u_intro = #{uIntro,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aurora.arcadia.model.UserMessage">
    update user_message
    set u_name = #{uName,jdbcType=VARCHAR},
      u_gender = #{uGender,jdbcType=VARCHAR},
      u_birth = #{uBirth,jdbcType=DATE},
      u_address = #{uAddress,jdbcType=VARCHAR},
      u_career = #{uCareer,jdbcType=VARCHAR},
      u_intro = #{uIntro,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>