<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/bootstrap-3.3.7/css/bootstrap.css">
    <script src="../../static/js/jquery-1.12.4.min.js"></script>
    <script src="../../static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<body>
<!--导航条-->
<div th:replace="commons/demo :: topBar"></div>


<div>
    <div class="container-fluid bg-color">
        <div class="row">
            <div class="col-lg-2 hidden-md hidden-sm hidden-xs" >
                <div class="panel panel=primary">
                    <div class="heading">失物招领</div>
                    <div class="panel-body">
                        <a href="#"> 进入</a>
                    </div>
                </div>
                <div class="panel panel=primary">
                    <div class="heading">社团活动</div>
                    <div class="panel-body">
                        <a href="#"> 进入</a>
                    </div>
                </div>
                <div class="panel panel=primary">
                    <div class="heading">表白墙</div>
                    <div class="panel-body">
                        <a href="#"> 进入</a>
                    </div>
                </div>
                <div class="panel panel=primary">
                    <div class="heading">其它活动</div>
                    <div class="panel-body">
                        <a href="#"> 进入</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <nav class="navbar navbar-default navbar-static-top nav02 hidden-xs">
                    <div class="container-fluid">
                        <div class="navbar-header">

                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="#">首页</span></a></li>
                                <li><a href="#">失物招领发布</a></li>
                            </ul>
                            <form action="" class="navbar-form navbar-right">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="搜索">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </nav>
                <div>
                    <div>
                        <input type="text" placeholder="失物说明及失主信息" onclick="" maxlength="100" style="width:800px; height:100px;">
                    </div>
                    <br>
                    <div>
                        <img src="#"  width="400px" height="300px">
                    </div>
                    <br>
                    <div>
                        <input type="submit" value="发布" onclick="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>