<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/...css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/bootstrap-3.3.7/css/bootstrap.css">
    <script src="../static/js/jquery-1.12.4.min.js"></script>
    <script src="../static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<!--导航条-->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display  影院品牌logo-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html"><img src="../static/img/logoD.png" height="50"></a>
            <!--                <a class="navbar-brand" href="#"><img src="../static/img/logo.png" height="30"></a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling 收集导航链接，表单和其他内容以进行切换-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">失物招领<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="lostAndFound.html">失物招领</a></li>
                        <li><a href="#">发布信息</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">社团活动<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">社团纳新</a></li>
                        <li><a href="#">学分互动</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">表白墙<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="confessRelease.html">发布</a></li>
                        <li><a href="confess.html">查看</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">大学生活<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="forum.html">校园论坛</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="表白墙">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li id="log_in"><a href="login.html">登陆</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">个人中心<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="personalInformation.html">我的资料</a></li>
                        <li><a href="personAttention.html">我的关注</a></li>
                        <li><a href="personFan.html">我的粉丝</a></li>
                        <li><a href="personCollection.html">我的收藏</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="personNotification.html">我的消息</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- 巨幕 -->
<div class="jumbotron"
     style="background:url(../static/img/bigm.jpg);background-size:cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- <img class="img-responsive" alt="" style="width:100%;height:100px;"> -->
            </div>
        </div>
    </div>
</div>

<div>
    <div class="container-fluid bg-color">
        <div class="row">
            <div class="col-lg-2 hidden-md hidden-sm hidden-xs" >
                <div class="panel panel=primary">
                    <div class="heading">失物招领</div>
                    <div class="panel-body">
                        <a href="#"> 进入</a>
                    </div>
                </div>
                <div class="panel panel=primary">
                    <div class="heading">社团活动</div>
                    <div class="panel-body">
                        <a href="#"> 进入</a>
                    </div>
                </div>
                <div class="panel panel=primary">
                    <div class="heading">表白墙</div>
                    <div class="panel-body">
                        <a href="#"> 进入</a>
                    </div>
                </div>
                <div class="panel panel=primary">
                    <div class="heading">其它活动</div>
                    <div class="panel-body">
                        <a href="#"> 进入</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <nav class="navbar navbar-default navbar-static-top nav02 hidden-xs">
                    <div class="container-fluid">
                        <div class="navbar-header">

                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="#">首页</span></a></li>
                                <li><a href="#">失物招领</a></li>
                            </ul>
                            <form action="" class="navbar-form navbar-right">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="搜索">
                                    <span class="input-group-btn">
                                    <button class="btn btn-default">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </nav>

                <div >
                    <table class="table">
                        <th>
                            <img src="#">
                        </th>
                        <tr>
                            <td class="active">活动名称</td>
                            <td class="success">所属社团</td>
                            <td class="warning">活动简介</td>
                            <td class="info">活动时间</td>
                        </tr>
                        <tr>
                            <td>阳光杯</td>
                            <td>轮滑社</td>
                            <td>学分活动</td>
                            <td>2019-9-19</td>
                        </tr>

                    </table>
                </div>


                    <div class="golf">
                        <div class="photo"><img src="../static/img/2.png"></div>
                        <div class="intro">
                                <p>羽毛球社迎新杯2019-9-29</p>
                                <p>羽毛球球运动是一项健康、绿色、快乐、回归自然的体育运动，打羽毛球球能让人体验挑战与激情，锻炼身体。</p>
                        </div>
                    </div>

</body>
</html>