<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap-3.3.7/css/bootstrap.css">
    <script src="../static/js/jquery-1.12.4.min.js"></script>
    <script src="../static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<!--导航条-->
<div th:replace="commons/demo :: topBar"></div>

<div>
    <div class="container-fluid bg-color">
        <div class="row">
            <div class="col-lg-2 hidden-md hidden-sm hidden-xs" >
            </div>
            <div class="col-lg-8">

                <div style="float: bottom">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div style="float: left">
                                <div class="img" style="width: 300px; margin: 0;float: left">
                                    <img src="../static/img/1.jpg" width="200px" height="150px">
                                </div>
                                <div style="height: 200px;width: 900px;margin-left: 300px;">
                                    <ul class="list" style="font-size: 17px;">
                                        <li><span>活动名称: </span>迎新杯</li>
                                        <li><span>所属社团: </span>轮滑社</li>
                                        <li><span>活动时间： </span>2019-2-22</li>
                                        <li><span>活动简介</span><p>卧槽这尼玛是个垃圾活动，学分都没有</p></li>
                                    </ul>
                                    <div style="width: 80px;height: 40px;background: #f40;border-radius: 20px;float: right">
                                    <span style="font-size: 18px;text-align: center;line-height: 40px;color: white;font-weight: bold"><a href="#"style="color: white">加入活动</a></span>
                                </div></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div style="float: left">
                                <div class="img" style="width: 300px; margin: 0;float: left">
                                    <img src="../static/img/1.jpg" width="200px" height="150px">
                                </div>
                                <div style="height: 200px;width: 900px;margin-left: 300px;">
                                    <ul class="list" style="font-size: 17px;">
                                        <li><span>活动名称: </span>迎新杯</li>
                                        <li><span>所属社团: </span>轮滑社</li>
                                        <li><span>活动时间： </span>2019-2-22</li>
                                        <li><span>活动简介</span><p>卧槽这尼玛是个垃圾活动，学分都没有</p></li>
                                    </ul>
                                    <div style="width: 80px;height: 40px;background: #f40;border-radius: 20px;float: right">
                                        <span style="font-size: 18px;text-align: center;line-height: 40px;color: white;font-weight: bold"><a href="#"style="color: white">加入活动</a></span>
                                    </div></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div style="float: left">
                                <div class="img" style="width: 300px; margin: 0;float: left">
                                    <img src="../static/img/1.jpg" width="200px" height="150px">
                                </div>
                                <div style="height: 200px;width: 900px;margin-left: 300px;">
                                    <ul class="list" style="font-size: 17px;">
                                        <li><span>活动名称: </span>迎新杯</li>
                                        <li><span>所属社团: </span>轮滑社</li>
                                        <li><span>活动时间： </span>2019-2-22</li>
                                        <li><span>活动简介</span><p>卧槽这尼玛是个垃圾活动，学分都没有</p></li>
                                    </ul>
                                    <div style="width: 80px;height: 40px;background: #f40;border-radius: 20px;float: right">
                                        <span style="font-size: 18px;text-align: center;line-height: 40px;color: white;font-weight: bold"><a href="#"style="color: white">加入活动</a></span>
                                    </div></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div style="float: left">
                                <div class="img" style="width: 300px; margin: 0;float: left">
                                    <img src="../static/img/1.jpg" width="200px" height="150px">
                                </div>
                                <div style="height: 200px;width: 900px;margin-left: 300px;">
                                    <ul class="list" style="font-size: 17px;">
                                        <li><span>活动名称: </span>迎新杯</li>
                                        <li><span>所属社团: </span>轮滑社</li>
                                        <li><span>活动时间： </span>2019-2-22</li>
                                        <li><span>活动简介</span><p>卧槽这尼玛是个垃圾活动，学分都没有</p></li>
                                    </ul>
                                    <div style="width: 80px;height: 40px;background: #f40;border-radius: 20px;float: right">
                                        <span style="font-size: 18px;text-align: center;line-height: 40px;color: white;font-weight: bold"><a href="#" style="color: white">加入活动</a></span>
                                    </div></div>
                            </div>
                        </div>
                    </div>
                    </div>

                <div >
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
            </div>
        </div>
    </div>


</body>
</html>