<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap-3.3.7/css/bootstrap.css">
    <script src="../static/js/jquery-1.12.4.min.js"></script>
    <script src="../static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<!--导航条-->
<div th:replace="commons/demo :: topBar"></div>

<div>
    <div class="container-fluid bg-color">
        <div class="row">
            <div class="col-lg-2 hidden-md hidden-sm hidden-xs" >
            </div>
            <div class="col-lg-8" style="margin-top: 80px;">

                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <p>今天下午篮球场丢了一个手机，华为p30,蓝色，希望捡到的同学能联系我，谢谢，联系方式：13773217899</p>
                        <img src="../static/img/1.jpg" width="200" height="113">
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <p>有哪个小可爱拾到一张银行卡吗，农业银行的，尾号是592952，希望拾到的小可爱能联系我qq：1537177801</p>
                        <img src="../static/img/1.jpg" width="200" height="113">
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <p>今天下午篮球场丢了一个手机，华为p30,蓝色，希望捡到的同学能联系我，谢谢，联系方式：13773217899</p>
                        <img src="../static/img/1.jpg" width="200" height="113">
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <p>有哪个小可爱拾到一张银行卡吗，农业银行的，尾号是592952，希望拾到的小可爱能联系我qq：1537177801</p>
                        <img src="../static/img/1.jpg" width="200" height="113">
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <p>今天下午篮球场丢了一个手机，华为p30,蓝色，希望捡到的同学能联系我，谢谢，联系方式：13773217899</p>
                        <img src="../static/img/1.jpg" width="200" height="113">
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <p>有哪个小可爱拾到一张银行卡吗，农业银行的，尾号是592952，希望拾到的小可爱能联系我qq：1537177801</p>
                        <img src="../static/img/1.jpg" width="200" height="113">
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <p>今天下午篮球场丢了一个手机，华为p30,蓝色，希望捡到的同学能联系我，谢谢，联系方式：13773217899</p>
                        <img src="../static/img/1.jpg" width="200" height="113">
                    </div>
                    <div class="col-xs-6 col-md-3">
                        <p>有哪个小可爱拾到一张银行卡吗，农业银行的，尾号是592952，希望拾到的小可爱能联系我qq：1537177801</p>
                        <img src="../static/img/1.jpg" width="200" height="113">
                    </div>
                    <div>
                        <div>
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>