<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Arcadia - 帖子</title>

    <!--    <script src="../../static/js/jquery-1.12.4.min.js"></script>-->
    <!--    <script src="../../static/bootstrap-3.3.7/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="../static/bootstrap-3.3.7/css/bootstrap.css">
    <script src="../static/js/jquery-1.12.4.min.js"></script>
    <script src="../static/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <style>
    .wrapper {
    border-bottom: 1px solid #ddd;
    }

    #person {
    /* border: 1px solid #ddd; */
    width: 14%;
    height: 150px;
    float: left;
    display: inline-block;
    position: absolute;
    }

    .panel-body img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    }

    .discuss {
    width: 85%;
    height: 150px;
    margin-left: 15%;
    }

    .discuss p {
    text-indent: 2em;
    font-size: 17px;

    }

    .discuss .text {
    margin-top: 10px;
    height: 75%;
    }

    .discuss .bot {
    height: 25px;
    }

    .discuss .bot .tip {
    float: right;
    margin-right: 20px;
    }
    .main {
        width: 100%;
        border: 1px solid #ccc;
        height: 160px;
        margin: 0 auto;
    }
    .main .view {
        width: 200px;
        height: 200px;
        overflow: hidden;
        position: relative;
        float: left;
    }
    .main .hover {
        width: 100px;
        position: absolute;
        top: 50px;
        left: 0;
        text-align: center;
        color: #fff;
        transform: rotate(55deg);
        transition: all 0.5s;
        overflow: hidden;
        height: 0;
        z-index: 4000; /*transform:translateX(200px);*/
    } /*写好样式，进行隐藏，用overflow:hidden; height:0;*/
    .main .hover p {
        line-height: 130%;
        text-align: center;
        color:#f5f5f5;
        font-weight: bold;
        font-size: 18px;
    }
    .main .view:hover .hover {
        height: 120px;
        transform: rotate(0deg);
    }
    /*before   after为选择器，一般给选择器加动画背景，设置动画样式*/
    .main .view:before {
        content: "";
        position: absolute;
        top: -240px;
        right: 0;
        width: 360px;
        height: 360px;
        background: rgba(150, 50, 100, 0.5);
        transform: rotate(55deg) translateX(60px);
        transform-origin: 100% 0%;
        transition: all 0.5s ease 0.3s;

    } /*写好样式，进行隐藏，用top:-240px;*/
    .main .view:hover:before {
        top: 0;
    }
    .main .view:after {
        content: "";
        position: absolute;
        bottom: -240px;
        left: 0;
        width: 360px;
        height: 360px;
        background: rgba(150, 50, 100, 0.5);
        transform: rotate(55deg) translateX(-60px);
        transform-origin: 0% 100%;
        transition: all 0.5s ease 0.3s;
    }
    .main .view:hover:after {
        bottom: 0px;
    }
    .main .view .hover .liker{
        width: 50px;
        height: 20px;
        border-radius: 10px;
        background: #f40;
        display: inline-block;
        text-align: center;
    }
    .main .view .hover .liker a{
        color:#fff;
        text-decoration: none;
    }

     body{
         background: url("../static/img/index.jpeg");
         background-repeat: no-repeat;
         background-size:100% 100%;
         /*opacity: 0.8;*/
     }

    </style>
</head>
<body>

<!--导航条-->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display  影院品牌logo-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="index.html"><img src="../static/img/logoD.png" height="50"></a>
            <!--                <a class="navbar-brand" href="#"><img src="../static/img/logo.png" height="30"></a>-->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling 收集导航链接，表单和其他内容以进行切换-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">失物招领<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="lostAndFound.html">失物招领</a></li>
                        <li><a href="lostAndFoundPublish.html">发布信息</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">社团活动<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="communityActivites.html">活动列表</a></li>
                        <li><a href="#">活动发布</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">表白墙<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="confessRelease.html">发布</a></li>
                        <li><a href="confess.html">查看</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">大学生活<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="forum.html">校园论坛</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
            </ul>

            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="表白墙">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li id="log_in"><a href="login.html">登陆</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">个人中心<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="personalInformation.html">我的资料</a></li>
                        <li><a href="personAttention.html">我的关注</a></li>
                        <li><a href="personFan.html">我的粉丝</a></li>
                        <li><a href="personCollection.html">我的收藏</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="personNotification.html">我的消息</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="modifyPassword.html">修改密码</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!-- 巨幕 -->
<div class="jumbotron"
     style="background:url(../static/img/bigm.jpg);background-size:cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- <img class="img-responsive" alt="" style="width:100%;height:100px;"> -->
            </div>
        </div>
    </div>
</div>

<!-- -页面的第三个部分，使用删格体系将页面分为２，８，２三个部分 -->
<div class="container-fluid bg-color">
    <div class="row">
        <div class="col-lg-2 hidden-md hidden-sm hidden-xs"></div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">LeetCode周赛题目，第一名写的代码，看不懂，求解释。
                        <div style="height: 20px; float: right;">
                            <a>收藏帖子</a>
                            <a>回复</a>
                        </div>
                    </h3>
                </div>
                <div class="wrapper main">
                    <div class="panel-body view" id="person">
                        <img src="../static/img/person1.jpg" alt="">
                        <div class="hover">
                            <p>等级:LV1</p>
                            <p class="liker"><a href="#">关注</a></p>
                        </div>
                        <p>younggalaxy</p>
                    </div>
                    <div class="discuss">
                        <div class="text">
                            <p>我估计是你线程里面掉窗体变量，你先创建的线程后创建的窗体，线程里面使用窗体的时候，窗体还没有创建好，你把创建线程和窗体的顺序换一下</p>
                        </div>
                        <div class="bot">
                            <span class="time">2019-09-28&nbsp;&nbsp;23:49:30</span>
                            <span class="tip">
                                    <span>回复数</span>
                                    <span id="flag" style="color:#f40">45</span>
                                    <span>举报</span>
                                    <span>楼主</span></span>
                        </div>
                    </div>
                </div>
                <div class="wrapper main">
                    <div class="panel-body view" id="person">
                        <img src="../static/img/person1.jpg" alt="">
                        <div class="hover">
                            <p>等级:LV1</p>
                            <p class="liker"><a href="#">关注</a></p>
                        </div>
                        <p>younggalaxy</p>
                    </div>
                    <div class="discuss">
                        <div class="text">
                            <p>我估计是你线程里面掉窗体变量，你先创建的线程后创建的窗体，线程里面使用窗体的时候，窗体还没有创建好，你把创建线程和窗体的顺序换一下</p>
                        </div>
                        <div class="bot">
                            <span class="time">2019-09-28&nbsp;&nbsp;23:49:30</span>
                            <span class="tip">
                                    <span>回复数</span>
                                    <span id="flag" style="color:#f40">45</span>
                                    <span>举报</span>
                                    <span>楼主</span></span>
                        </div>
                    </div>
                </div>
                <div class="wrapper main">
                    <div class="panel-body view" id="person">
                        <img src="../static/img/person1.jpg" alt="">
                        <div class="hover">
                            <p>等级:LV1</p>
                            <p class="liker"><a href="#">关注</a></p>
                        </div>
                        <p>younggalaxy</p>
                    </div>
                    <div class="discuss">
                        <div class="text">
                            <p>我估计是你线程里面掉窗体变量，你先创建的线程后创建的窗体，线程里面使用窗体的时候，窗体还没有创建好，你把创建线程和窗体的顺序换一下</p>
                        </div>
                        <div class="bot">
                            <span class="time">2019-09-28&nbsp;&nbsp;23:49:30</span>
                            <span class="tip">
                                    <span>回复数</span>
                                    <span id="flag" style="color:#f40">45</span>
                                    <span>举报</span>
                                    <span>楼主</span></span>
                        </div>
                    </div>
                </div>
                <div class="wrapper main">
                    <div class="panel-body view" id="person">
                        <img src="../static/img/person1.jpg" alt="">
                        <div class="hover">
                            <p>等级:LV1</p>
                            <p class="liker"><a href="#">关注</a></p>
                        </div>
                        <p>younggalaxy</p>
                    </div>
                    <div class="discuss">
                        <div class="text">
                            <p>我估计是你线程里面掉窗体变量，你先创建的线程后创建的窗体，线程里面使用窗体的时候，窗体还没有创建好，你把创建线程和窗体的顺序换一下</p>
                        </div>
                        <div class="bot">
                            <span class="time">2019-09-28&nbsp;&nbsp;23:49:30</span>
                            <span class="tip">
                                    <span>回复数</span>
                                    <span id="flag" style="color:#f40">45</span>
                                    <span>举报</span>
                                    <span>楼主</span></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-2">
            <div class="right_box">
                <h3 class="feed_new_tit">
                    <span class="line"></span><span class="txt" style="font-size: 18px;">今日推荐</span>
                </h3>
                <div class="feed_company csdn-tracking-statistics" data-dsm="post">
                    <ul class="company_list">
                        <li data-report-view='{"mod":"popu_474","dest":"https://blog.csdn.net/tangxiaoyin/article/details/101354014","strategy":"","index":"0"}'
                            data-report-click='{"mod":"popu_474","dest":"https://blog.csdn.net/tangxiaoyin/article/details/101354014","strategy":"","index":"0"}'>
                            <div class="img_box"><a
                                    href="https://blog.csdn.net/tangxiaoyin/article/details/101354014"
                                    target="_blank"><img
                                    src="https://csdnimg.cn/feed/20190925/e86281f4a441f0c2a9f953065edc9acf.png?x-oss-process=image/resize,h_64"
                                    alt=""></a></div>
                            <div class="content">
                                <h3 class="company_name"><a title="阿里 20 年，逍遥子宣告「全面迈入数字经济时代」"
                                                            href="https://blog.csdn.net/tangxiaoyin/article/details/101354014"
                                                            target="_blank">阿里 20 年，逍遥子宣告「全面迈入数字经济时代」</a></h3>
                            </div>
                        </li>
                        <li data-report-view='{"mod":"popu_474","dest":"https://blog.csdn.net/FL63Zv9Zou86950w/article/details/101183380","strategy":"","index":"1"}'
                            data-report-click='{"mod":"popu_474","dest":"https://blog.csdn.net/FL63Zv9Zou86950w/article/details/101183380","strategy":"","index":"1"}'>
                            <div class="img_box"><a
                                    href="https://blog.csdn.net/FL63Zv9Zou86950w/article/details/101183380"
                                    target="_blank"><img
                                    src="https://csdnimg.cn/feed/20190923/7898671f5c797f0dde22cb4e01679ddf.jpg?x-oss-process=image/resize,h_64"
                                    alt=""></a></div>
                            <div class="content">
                                <h3 class="company_name"><a title="架构师必备技能：教你画出一张合格的技术架构图"
                                                            href="https://blog.csdn.net/FL63Zv9Zou86950w/article/details/101183380"
                                                            target="_blank">架构师必备技能：教你画出一张合格的技术架构图</a></h3>
                            </div>
                        </li>
                        <li data-report-view='{"mod":"popu_474","dest":"https://blogdev.blog.csdn.net/article/details/101368277","strategy":"","index":"2"}'
                            data-report-click='{"mod":"popu_474","dest":"https://blogdev.blog.csdn.net/article/details/101368277","strategy":"","index":"2"}'>
                            <div class="img_box"><a href="https://blogdev.blog.csdn.net/article/details/101368277"
                                                    target="_blank"><img
                                    src="https://csdnimg.cn/feed/20190909/e9934c13e0037b85d19dc9c28d46c984.jpg?x-oss-process=image/resize,h_64"
                                    alt=""></a></div>
                            <div class="content">
                                <h3 class="company_name"><a title="CSDN日报190925：操作系统、数据库、架构干货来啦"
                                                            href="https://blogdev.blog.csdn.net/article/details/101368277"
                                                            target="_blank">CSDN日报190925：操作系统、数据库、架构干货来啦</a></h3>
                            </div>
                        </li>
                        <li data-report-view='{"mod":"popu_474","dest":"https://aiprocon.csdn.net/m/topic/ai_procon/index","strategy":"","index":"3"}'
                            data-report-click='{"mod":"popu_474","dest":"https://aiprocon.csdn.net/m/topic/ai_procon/index","strategy":"","index":"3"}'>
                            <div class="img_box"><a href="https://aiprocon.csdn.net/m/topic/ai_procon/index"
                                                    target="_blank"><img
                                    src="https://csdnimg.cn/feed/20190910/b01fe63f1b85520f5010557121dca94a.jpg?x-oss-process=image/resize,h_64"
                                    alt=""></a></div>
                            <div class="content">
                                <h3 class="company_name"><a title="【PPT下载+图文直播】2019 AI开发者大会精彩分享"
                                                            href="https://aiprocon.csdn.net/m/topic/ai_procon/index"
                                                            target="_blank">【PPT下载+图文直播】2019 AI开发者大会精彩分享</a></h3>
                            </div>
                        </li>
                        <li data-report-view='{"mod":"popu_474","dest":"https://blog.csdn.net/csdnnews/article/details/101189434","strategy":"","index":"4"}'
                            data-report-click='{"mod":"popu_474","dest":"https://blog.csdn.net/csdnnews/article/details/101189434","strategy":"","index":"4"}'>
                            <div class="img_box"><a href="https://blog.csdn.net/csdnnews/article/details/101189434"
                                                    target="_blank"><img
                                    src="https://csdnimg.cn/feed/20190925/cf153ec1c904966d3890ba51b10e551d.jpg?x-oss-process=image/resize,h_64"
                                    alt=""></a></div>
                            <div class="content">
                                <h3 class="company_name"><a title="“不给钱就删库”的勒索病毒， 程序员该如何防护？"
                                                            href="https://blog.csdn.net/csdnnews/article/details/101189434"
                                                            target="_blank">“不给钱就删库”的勒索病毒， 程序员该如何防护？</a></h3>
                            </div>
                        </li>
                        <li data-report-view='{"mod":"popu_474","dest":"https://blog.csdn.net/csdnnews/article/details/101189453","strategy":"","index":"5"}'
                            data-report-click='{"mod":"popu_474","dest":"https://blog.csdn.net/csdnnews/article/details/101189453","strategy":"","index":"5"}'>
                            <div class="img_box"><a href="https://blog.csdn.net/csdnnews/article/details/101189453"
                                                    target="_blank"><img
                                    src="https://csdnimg.cn/feed/20190924/dd87db8ca59dee459e2928141b01bc1a.jpg?x-oss-process=image/resize,h_64"
                                    alt=""></a></div>
                            <div class="content">
                                <h3 class="company_name"><a title="滴滴“负重”387天！"
                                                            href="https://blog.csdn.net/csdnnews/article/details/101189453"
                                                            target="_blank">滴滴“负重”387天！</a></h3>
                                <p class="txt oneline">滴滴“负重”387天！</p>
                            </div>
                        </li>
                        <li data-report-view='{"mod":"popu_474","dest":"https://blog.csdn.net/csdnsevenn/article/details/101129761","strategy":"","index":"6"}'
                            data-report-click='{"mod":"popu_474","dest":"https://blog.csdn.net/csdnsevenn/article/details/101129761","strategy":"","index":"6"}'>
                            <div class="img_box"><a
                                    href="https://blog.csdn.net/csdnsevenn/article/details/101129761"
                                    target="_blank"><img
                                    src="https://csdnimg.cn/feed/20190925/dc8f0cd26be6b2d225e9e69fa95a6f1c.jpg?x-oss-process=image/resize,h_64"
                                    alt=""></a></div>
                            <div class="content">
                                <h3 class="company_name"><a title="小白必看！Django 模板语言进阶！"
                                                            href="https://blog.csdn.net/csdnsevenn/article/details/101129761"
                                                            target="_blank">小白必看！Django 模板语言进阶！</a></h3>
                            </div>
                        </li>
                        <li data-report-view='{"mod":"popu_474","dest":"https://blog.csdn.net/csdnsevenn/article/details/101180597","strategy":"","index":"7"}'
                            data-report-click='{"mod":"popu_474","dest":"https://blog.csdn.net/csdnsevenn/article/details/101180597","strategy":"","index":"7"}'>
                            <div class="img_box"><a
                                    href="https://blog.csdn.net/csdnsevenn/article/details/101180597"
                                    target="_blank"><img
                                    src="https://csdnimg.cn/feed/20190924/cda63df23c981624459295745e849a0a.jpg?x-oss-process=image/resize,h_64"
                                    alt=""></a></div>
                            <div class="content">
                                <h3 class="company_name"><a title="作为曾经的 Web 开发“王者”，jQuery 的传奇怎么续写？"
                                                            href="https://blog.csdn.net/csdnsevenn/article/details/101180597"
                                                            target="_blank">作为曾经的 Web 开发“王者”，jQuery 的传奇怎么续写？</a></h3>
                            </div>
                        </li>




                    </ul>

                </div>
            </div>
        </div>

    </div>

</body>
</html>