<!doctype html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="../../static/bootstrap-3.3.7/css/bootstrap.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">
    <script src="../../static/js/jquery-1.12.4.min.js" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
    <script src="../../static/bootstrap-3.3.7/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>

    <link rel="stylesheet" href="../../static/css/login.css" th:href="@{css/login.css}">

</head>

<body>

<div class="main" >
    <!--导航条-->
    <div th:replace="commons/demo :: topBar"></div>

    <div class="content">
        <form>
            <span class="padding2"><img src="../../static/img/logoA.png" height="50" width="50" th:src="@{/img/logoA.png}"></span>
            <input id="username" type="text" name="username"placeholder="userName" class="padding" th:placeholder="#{login.username}">
            <input id="password" type="password" name="password" placeholder="password" class="padding" th:placeholder="#{login.password}">
            <span class="helpMessage" th:text="${msg}"></span>
            <br><br>
            <input type="button" class="demo" onclick="login()" value="login" th:value="#{login.tip}">
            <p class="forget"><a href="forget.html" th:text="#{login.forget}">forget Password</a></p>
            <p class="register"><a href="register.html" th:text="#{login.register}">Register</a></p>

            <a class="btn btn-sm" th:href="@{/login.html(l='zh_CN')}">中文</a>
            <a class="btn btn-sm" th:href="@{/login.html(l='en_US')}">English</a>
        </form>
    </div>
</div>

<script type="text/javascript">
    function login(){
        var inputUsername = document.getElementById("username");
        var inputPassword = document.getElementById("password");
        $username = $("#username").val();
        $password = $("#password").val();


        $.ajax({
            url: "/arcadia/login",
            type: "post",
            dataType: "json",
            data: {"username":$username,"password":$password},
            success: function (result) {
                // var rtn = JSON.parse(result);

                var code = result.code;
                if (code == 'success') {
                    //登陆成功

                } else if (code == 'error') {
                    //密码不正确
                    var errorMessage = result.errorMessage;
                }
            },error:function () {
                alert("error!");
            }
        })
    }
</script>

</body>
